In [4]:
import pandas as pd
import datetime
import numpy as np
import boto3
import logging
from io import StringIO
from dotenv import load_dotenv
from pathlib import Path
import os
import polars as pl
from functions_mo import final_result, calculate_volume_distribution

In [5]:
env_path = Path('C:/Users/Nata_/Documents/Etapa_1_proyecto/Simulador_mano_de_obra/mano_de_obra_agrovid/var.env')
load_dotenv(dotenv_path=env_path)
AWS_PROFILE = os.getenv("aws_profile") 
SSM_PARAMETER_BUCKET_INPUT_FILES_NAME = os.getenv('SSM_PARAMETER_BUCKET_INPUT_FILES_NAME')
SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME = os.getenv('SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME')
REGION = os.getenv('REGION')


def get_ssm_parameters(aws_profile, region, parameter_names):
  
    session = boto3.Session(profile_name=aws_profile)
    ssm_client = session.client('ssm', region_name=region)

    parameters = {}
    for param_name in parameter_names:
        try:
            # Retrieve the parameter value
            response = ssm_client.get_parameter(Name=param_name, WithDecryption=True)
            parameters[param_name] = response['Parameter']['Value']
        except ssm_client.exceptions.ParameterNotFound:
            print(f"Parameter {param_name} not found.")
        except Exception as e:
            print(f"Error retrieving parameter {param_name}: {e}")

    return parameters

parameter_names = [
        SSM_PARAMETER_BUCKET_INPUT_FILES_NAME,
        SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME
    ]

ssm_parameters = get_ssm_parameters(AWS_PROFILE, REGION, parameter_names)

bucket_input_file = ssm_parameters.get(SSM_PARAMETER_BUCKET_INPUT_FILES_NAME)
bucket_output_file = ssm_parameters.get(SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME)



def download_csv_from_s3(aws_profile, bucket_name, file_keys):
    session = boto3.Session(profile_name=aws_profile)
    s3_client = session.client('s3')
    data_frames = {}

    for file_key in file_keys:
        obj = s3_client.get_object(Bucket=bucket_name, Key=file_key)
        data = obj['Body'].read().decode('utf-8')
        sep = ',' if file_key.endswith('.csv') else ';'
        data_frames[file_key] = pd.read_csv(StringIO(data), sep=sep)
    
    return data_frames


file_keys = ['er_simulado/modulo_ingresos/2024-07-24/ingreso.csv', 
             'er_simulado/modulo_ingresos/2024-07-24/EXCEDENTE.csv', 
             'er_simulado/modulo_ingresos/2024-07-24/platano.csv']

data_frames = download_csv_from_s3(AWS_PROFILE, bucket_input_file, file_keys)

# Acceder a los DataFrames descargados
surplus = data_frames['er_simulado/modulo_ingresos/2024-07-24/EXCEDENTE.csv']
revenue_file = data_frames['er_simulado/modulo_ingresos/2024-07-24/ingreso.csv']

2025-01-22 19:18:21,266 - INFO - Found credentials in shared credentials file: ~/.aws/credentials
2025-01-22 19:18:22,294 - INFO - Found credentials in shared credentials file: ~/.aws/credentials

## Importar los archivos

In [6]:
box_volum = pd.read_csv("volumen.csv", sep=';')
box_volum.head()

   Unnamed: 0 CONCEPTO     FINCA  ...  SEMANA 50  SEMANA 51  SEMANA 52
0           0    CAJAS     ENANO  ...    10606.0    10349.0     9936.0
1           1    CAJAS       EVA  ...     6091.0     5903.0     5791.0
2           2    CAJAS      SAMI  ...     7893.0     7937.0     7645.0
3           3    CAJAS      VEGA  ...     3426.0     3303.0     3147.0
4           4    CAJAS  FEDERICA  ...     8505.0     7837.0     7814.0

[5 rows x 55 columns]

In [7]:
cut = pd.read_csv('corte_y_empaque.csv', sep = ';')
cut.head()

       ID     FINCA    GRUPO  ... PROMEDIADO PRESTACIONES  FACTOR
0  100001     ENANO  COSECHA  ...        G04       0.3887     1.0
1  100001       EVA  COSECHA  ...        G04       0.3887     1.0
2  100001      SAMI  COSECHA  ...        G04       0.3887     1.0
3  100001      VEGA  COSECHA  ...        G04       0.3887     1.0
4  100001  FEDERICA  COSECHA  ...        G04       0.3887     1.0

[5 rows x 10 columns]

In [8]:
volum_distribution = pd.read_csv('distribucion_volumen.csv', sep = ';')
volum_distribution.head()

    SEMANA  SEM  1  SEM  2  SEM  3  ...  SEM 49  SEM 50  SEM 51  SEM 52
0    ENERO       1       1       1  ...       0       0       0       0
1  FEBRERO       0       0       0  ...       0       0       0       0
2    MARZO       0       0       0  ...       0       0       0       0
3    ABRIL       0       0       0  ...       0       0       0       0
4     MAYO       0       0       0  ...       0       0       0       0

[5 rows x 53 columns]

## Corte y empaque

In [9]:
volum_distribution_transformed = final_result(volum_distribution, 2024, 1)
box_volum_transformed = final_result(box_volum, 2024, 3)

2025-01-22 19:18:23,489 - INFO - Fechas calculadas para cada semana: [datetime.datetime(2024, 1, 6, 0, 0), datetime.datetime(2024, 1, 13, 0, 0), datetime.datetime(2024, 1, 20, 0, 0), datetime.datetime(2024, 1, 27, 0, 0), datetime.datetime(2024, 2, 3, 0, 0), datetime.datetime(2024, 2, 10, 0, 0), datetime.datetime(2024, 2, 17, 0, 0), datetime.datetime(2024, 2, 24, 0, 0), datetime.datetime(2024, 3, 2, 0, 0), datetime.datetime(2024, 3, 9, 0, 0), datetime.datetime(2024, 3, 16, 0, 0), datetime.datetime(2024, 3, 23, 0, 0), datetime.datetime(2024, 3, 30, 0, 0), datetime.datetime(2024, 4, 6, 0, 0), datetime.datetime(2024, 4, 13, 0, 0), datetime.datetime(2024, 4, 20, 0, 0), datetime.datetime(2024, 4, 27, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 6, 1, 0, 0), datetime.datetime(2024, 6, 8, 0, 0), datetime.datetime(2024, 6, 15, 0, 0), datetime.datetime(2024, 6, 22, 0, 0), datetime.datetime(2024, 6, 29, 0, 0), datetime.datetime(2024, 7, 6, 0, 0), datetime.datetime(2024, 7, 13, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 27, 0, 0), datetime.datetime(2024, 8, 3, 0, 0), datetime.datetime(2024, 8, 10, 0, 0), datetime.datetime(2024, 8, 17, 0, 0), datetime.datetime(2024, 8, 24, 0, 0), datetime.datetime(2024, 8, 31, 0, 0), datetime.datetime(2024, 9, 7, 0, 0), datetime.datetime(2024, 9, 14, 0, 0), datetime.datetime(2024, 9, 21, 0, 0), datetime.datetime(2024, 9, 28, 0, 0), datetime.datetime(2024, 10, 5, 0, 0), datetime.datetime(2024, 10, 12, 0, 0), datetime.datetime(2024, 10, 19, 0, 0), datetime.datetime(2024, 10, 26, 0, 0), datetime.datetime(2024, 11, 2, 0, 0), datetime.datetime(2024, 11, 9, 0, 0), datetime.datetime(2024, 11, 16, 0, 0), datetime.datetime(2024, 11, 23, 0, 0), datetime.datetime(2024, 11, 30, 0, 0), datetime.datetime(2024, 12, 7, 0, 0), datetime.datetime(2024, 12, 14, 0, 0), datetime.datetime(2024, 12, 21, 0, 0), datetime.datetime(2024, 12, 28, 0, 0)].
2025-01-22 19:18:23,490 - INFO - Columnas renombradas exitosamente en el dataset.
2025-01-22 19:18:23,491 - INFO - Fechas calculadas para cada semana: [datetime.datetime(2024, 1, 6, 0, 0), datetime.datetime(2024, 1, 13, 0, 0), datetime.datetime(2024, 1, 20, 0, 0), datetime.datetime(2024, 1, 27, 0, 0), datetime.datetime(2024, 2, 3, 0, 0), datetime.datetime(2024, 2, 10, 0, 0), datetime.datetime(2024, 2, 17, 0, 0), datetime.datetime(2024, 2, 24, 0, 0), datetime.datetime(2024, 3, 2, 0, 0), datetime.datetime(2024, 3, 9, 0, 0), datetime.datetime(2024, 3, 16, 0, 0), datetime.datetime(2024, 3, 23, 0, 0), datetime.datetime(2024, 3, 30, 0, 0), datetime.datetime(2024, 4, 6, 0, 0), datetime.datetime(2024, 4, 13, 0, 0), datetime.datetime(2024, 4, 20, 0, 0), datetime.datetime(2024, 4, 27, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 6, 1, 0, 0), datetime.datetime(2024, 6, 8, 0, 0), datetime.datetime(2024, 6, 15, 0, 0), datetime.datetime(2024, 6, 22, 0, 0), datetime.datetime(2024, 6, 29, 0, 0), datetime.datetime(2024, 7, 6, 0, 0), datetime.datetime(2024, 7, 13, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 27, 0, 0), datetime.datetime(2024, 8, 3, 0, 0), datetime.datetime(2024, 8, 10, 0, 0), datetime.datetime(2024, 8, 17, 0, 0), datetime.datetime(2024, 8, 24, 0, 0), datetime.datetime(2024, 8, 31, 0, 0), datetime.datetime(2024, 9, 7, 0, 0), datetime.datetime(2024, 9, 14, 0, 0), datetime.datetime(2024, 9, 21, 0, 0), datetime.datetime(2024, 9, 28, 0, 0), datetime.datetime(2024, 10, 5, 0, 0), datetime.datetime(2024, 10, 12, 0, 0), datetime.datetime(2024, 10, 19, 0, 0), datetime.datetime(2024, 10, 26, 0, 0), datetime.datetime(2024, 11, 2, 0, 0), datetime.datetime(2024, 11, 9, 0, 0), datetime.datetime(2024, 11, 16, 0, 0), datetime.datetime(2024, 11, 23, 0, 0), datetime.datetime(2024, 11, 30, 0, 0), datetime.datetime(2024, 12, 7, 0, 0), datetime.datetime(2024, 12, 14, 0, 0), datetime.datetime(2024, 12, 21, 0, 0), datetime.datetime(2024, 12, 28, 0, 0)].
2025-01-22 19:18:23,493 - INFO - Columnas renombradas exitosamente en el dataset.

In [20]:
volum_distribution_matrix = volum_distribution_transformed.iloc[:, 1:]
box_id_100001 = box_volum_transformed[box_volum_transformed['CONCEPTO'] == 'CAJAS'].iloc[:, 3:]
box_farm = box_volum_transformed[box_volum_transformed['CONCEPTO'] == 'CAJAS']
new_columns = ['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08',
       '2024-09', '2024-10', '2024-11', '2024-12']

In [22]:
labor_cic = calculate_volume_distribution(box_id_100001, volum_distribution_matrix, box_farm, new_columns)

2025-01-22 19:25:15,921 - INFO - Iniciando el cálculo de la matriz de distribución de volumen.
2025-01-22 19:25:15,922 - INFO - Procesando el mes: 0
2025-01-22 19:25:15,927 - INFO - Procesando el mes: 1
2025-01-22 19:25:15,950 - INFO - Procesando el mes: 2
2025-01-22 19:25:15,963 - INFO - Procesando el mes: 3
2025-01-22 19:25:15,977 - INFO - Procesando el mes: 4
2025-01-22 19:25:15,977 - INFO - Procesando el mes: 5
2025-01-22 19:25:15,996 - INFO - Procesando el mes: 6
2025-01-22 19:25:15,996 - INFO - Procesando el mes: 7
2025-01-22 19:25:16,016 - INFO - Procesando el mes: 8
2025-01-22 19:25:16,028 - INFO - Procesando el mes: 9
2025-01-22 19:25:16,031 - INFO - Procesando el mes: 10
2025-01-22 19:25:16,046 - INFO - Procesando el mes: 11
2025-01-22 19:25:16,061 - INFO - Matriz de resultados generada.
2025-01-22 19:25:16,061 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-01-22 19:25:16,061 - INFO - DataFrame final concatenado con los datos de volumen transformados.

In [27]:
labor_cic

              FINCA CONCEPTO  2024-01  ...   2024-10   2024-11  2024-12
0             ENANO    CAJAS  36253.4  ...   40047.4   41029.2  41234.0
1               EVA    CAJAS  29401.4  ...   33810.4   27933.0  24003.0
2              SAMI    CAJAS  37100.4  ...   40141.6   33512.0  31691.0
3              VEGA    CAJAS  16179.0  ...   21760.4   16358.8  13336.0
4          FEDERICA    CAJAS  19260.6  ...   45201.6   37664.0  33177.0
5        NEERLANDIA    CAJAS  21160.8  ...   34381.4   30621.4  29271.0
6       SAN ANTONIO    CAJAS  28258.2  ...   36158.0   30585.4  26287.0
7               MRS    CAJAS  13403.8  ...   12075.4   10577.0   9186.0
8          DON FUAD    CAJAS  31850.0  ...   50712.2   39997.4  34170.0
9           EUFEMIA    CAJAS  54256.0  ...   71515.2   63304.2  60802.0
10             OLGA    CAJAS  10726.0  ...   14340.4   11394.2   9559.0
11         DON SAID    CAJAS  93020.0  ...  129240.0  102170.6  81285.0
12         ASUNTINA    CAJAS  49713.6  ...   64251.2   46416.2  37114.0
13         PORLAMAR    CAJAS  97888.4  ...  141010.6   98188.8  79172.0
14         EL MORRO    CAJAS   8898.6  ...    9489.4    9157.4   9527.0
15         LA PERLA    CAJAS  16550.4  ...   14527.4   12085.4  10153.0
16        ARACATACA    CAJAS  46096.8  ...   72346.0   59383.6  50302.0
17         BOCATOMA    CAJAS   3321.0  ...   53721.0   45803.4  37539.0
18             JOYA    CAJAS  34078.4  ...   48861.4   39232.8  32680.0
19        ESMERALDA    CAJAS      0.0  ...       0.0       0.0      0.0
20         NARANJOS    CAJAS  12923.8  ...   25397.2   20934.0  17529.0
21           YUNQUE    CAJAS  13376.6  ...   18729.0   14827.0  12269.0
22           DONAMA    CAJAS  20247.2  ...       0.0       0.0      0.0
23          BURDEOS    CAJAS      0.0  ...       0.0       0.0      0.0
24  DON MARCE SUR 2    CAJAS  13175.0  ...   14899.8   13124.6  11545.0
25   LAS MARGARITAS    CAJAS  18155.6  ...   31426.8   21894.6  18521.0
26       LA CECILIA    CAJAS   9746.8  ...   16057.6   11531.2   9126.0
27         JOSEFINA    CAJAS  16731.4  ...   21822.6   16691.8  14348.0
28      SAN ALFREDO    CAJAS   9236.4  ...   12121.0    9458.2   8290.0
29         VICTORIA    CAJAS  47769.0  ...   50745.6   40368.2  35319.0
30         CIRCASIA    CAJAS  30680.6  ...   32705.6   23721.0  18620.0
31          CIÉNAGA    CAJAS  12516.2  ...   12223.0   10192.6   8823.0
32            MARÍA    CAJAS   5760.6  ...   10736.4   10152.0  10033.0
33          REMANSO    CAJAS  40809.0  ...   79138.6   65797.8  48376.0
34      PIEDECUESTA    CAJAS  36385.6  ...   49106.6   35842.6  28063.0
35          NÁUTICA    CAJAS  81857.0  ...   63802.8   47434.8  39696.0
36        LAS LINAS    CAJAS  57914.8  ...   54544.4   42051.8  35658.0
37          DON ALÍ    CAJAS  26747.4  ...   36562.2   23122.2  23194.0
38      DR4 DON ALÍ    CAJAS    245.0  ...    5565.8    3046.8   2361.0
39       DON CARLOS    CAJAS  15069.8  ...   11162.4   10964.6  12227.0
40        EVA NORTE    CAJAS  78751.0  ...   76274.8   54300.4  53028.0
41        DON PEDRO    CAJAS  31581.2  ...   39203.8   29420.0  26200.0
42          LA VELA    CAJAS  15022.6  ...   21154.2   15533.8  11616.0
43        ESPERANZA    CAJAS  22903.6  ...   23041.6   16409.4  15404.0
44   LINA MARGARITA    CAJAS   7297.0  ...    7467.4    6462.8   5070.0
45        DON MARCE    CAJAS      0.0  ...   25455.0   35797.0  43955.0

[46 rows x 14 columns]

In [40]:
def calcular_resultado(matriz_a: pd.DataFrame, matriz_b: pd.DataFrame) -> pd.DataFrame:

    # Convertir las columnas en formato datetime

    # Eliminar columnas no relacionadas (si existen)
    matriz_a_numeric = matriz_a
    matriz_b_numeric = matriz_b

    # Crear un DataFrame para almacenar los resultados
    resultados = pd.DataFrame()

    # Iterar por las filas de la matriz A (cada mes)
    for i, fila_a in matriz_a_numeric.iterrows():
        # Multiplicar cada fila de B por la fila actual de A
        producto = matriz_b_numeric.multiply(fila_a.values, axis=1)
        # Sumar los resultados para cada fila de B
        suma_producto = producto.sum(axis=1)
        # Agregar el resultado como una nueva columna en el DataFrame
        resultados[fila_a.name] = suma_producto

    # Renombrar las columnas con los meses


    return suma_producto

In [41]:
calcular_resultado(volum_distribution_matrix, box_id_100001)

0     41234.0
1     24003.0
2     31691.0
3     13336.0
4     33177.0
5     29271.0
6     26287.0
7      9186.0
8     34170.0
9     60802.0
10     9559.0
11    81285.0
12    37114.0
13    79172.0
14     9527.0
15    10153.0
16    50302.0
17    37539.0
18    32680.0
19        0.0
20    17529.0
21    12269.0
22        0.0
23        0.0
24    11545.0
25    18521.0
26     9126.0
27    14348.0
28     8290.0
29    35319.0
30    18620.0
31     8823.0
32    10033.0
33    48376.0
34    28063.0
35    39696.0
36    35658.0
37    23194.0
38     2361.0
39    12227.0
40    53028.0
41    26200.0
42    11616.0
43    15404.0
44     5070.0
45    43955.0
dtype: float64

In [18]:
cut

,ID,FINCA,GRUPO,LABOR,MAESTRA,TARIFA,REF,PROMEDIADO,PRESTACIONES,FACTOR
0,100001,ENANO,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0
1,100001,EVA,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0
2,100001,SAMI,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0
3,100001,VEGA,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0
4,100001,FEDERICA,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0
...,...,...,...,...,...,...,...,...,...,...
1053,100022,DON PEDRO,EMPAQUE,AJUSTE DE EMPAQUE,ORG NORTE,1.0,AJUSTE,G04,0.3887,0.0
1054,100022,LA VELA,EMPAQUE,AJUSTE DE EMPAQUE,ORG NORTE,1.0,AJUSTE,G04,0.3887,0.0
1055,100022,ESPERANZA,EMPAQUE,AJUSTE DE EMPAQUE,ORG NORTE,1.0,AJUSTE,G04,0.3887,0.0
1056,100022,LINA MARGARITA,EMPAQUE,AJUSTE DE EMPAQUE,PLAT,0.0,AJUSTE,G04,0.3887,0.0
1057,100022,DON MARCE,EMPAQUE,AJUSTE DE EMPAQUE,PLAT,0.0,AJUSTE,G04,0.3887,0.0