In [1]:
import pandas as pd
import numpy as np
import boto3
import logging
from io import StringIO
from dotenv import load_dotenv
from pathlib import Path
import os
import polars as pl
from logging import Logger
import json
from chalice import Response
from datetime import datetime, timedelta
from unidecode import unidecode
from functions_mo import (
calculate_volume_distribution_factor, 
get_item_from_dynamodb, 
get_item_from_dynamodb_global, 
get_ssm_parameter,
object_to_dataframe,
group_by_month,
multiply_price,
multiply_by_month_promediado,
multiply_p_social,
total_cost,
calculate_promediados_factor,
group_by_type,
group_by_type_sum
)

In [2]:
#set up logging
logger = logging.getLogger()
logger.setLevel(logging.INFO)

In [3]:
env_path = Path('C:/Users/Nata_/Documents/Etapa_1_proyecto/Simulador_mano_de_obra/mano_de_obra_agrovid/var.env')

load_dotenv(dotenv_path=env_path)
AWS_PROFILE = os.environ["aws_profile"]
SSM_PARAMETER_BUCKET_INPUT_FILES_NAME = os.environ['SSM_PARAMETER_BUCKET_INPUT_FILES_NAME']
SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME = os.environ['SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME']
REGION = os.environ['REGION']
SSM_PARAMETER_DYNAMODB_MODULE_CONFIG_NAME = os.environ['SSM_PARAMETER_DYNAMODB_MODULE_CONFIG_NAME']
SSM_PARAMETER_DYNAMODB_GLOBAL_MODULE_CONFIG_NAME = os.environ['SSM_PARAMETER_DYNAMODB_GLOBAL_MODULE_CONFIG_NAME']

### Funci√≥n para despliegue

In [4]:
def materiales(event, context):
    modulo: str = "modulo_mano_de_obra"
    modulo_revenue: str = "modulo_ingresos"
    PROCESS_TYPE = "er_simulado"
    modulo_global_materiales = "nombre_finca"
    file_revenue: str = "volumen.csv"
    body = event
    # # 4. Body (usually JSON, but can be other formats)
    # if event.get("body"):
    #     body = event["body"]
    #     # Assuming the body is JSON
    #     body = json.loads(body)
    #     print("body_json", body)
    #     print("type body_json", type(body))
    
    session = boto3.Session(profile_name=AWS_PROFILE)

    s3_client = session.client('s3', region_name=REGION)
    ssm_client = session.client("ssm", region_name=REGION)
    dynamodb_client = boto3.resource("dynamodb", region_name=REGION)

    bucket_input_files = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_BUCKET_INPUT_FILES_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )
    bucket_output_files = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_BUCKET_OUTPUT_FILES_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )
    dynamodb_table_name_module_config = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_DYNAMODB_MODULE_CONFIG_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )

    dynamodb_table_name_global_module_config = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_DYNAMODB_GLOBAL_MODULE_CONFIG_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )
    logger.info(f"{dynamodb_table_name_module_config}")

    module_config = get_item_from_dynamodb(
        table_name=dynamodb_table_name_module_config,
        key={"module": modulo, "process_type": PROCESS_TYPE},
        logger=logger,
        dynamodb_client=dynamodb_client,
    )

    global_config_materiales = get_item_from_dynamodb_global(
        table_name=dynamodb_table_name_global_module_config,
        partition_key_value=modulo_global_materiales,
        logger=logger,
        dynamodb_client=dynamodb_client,
   )
    
    
    input_files_names: dict = module_config["input_file_names_mano_de_obra"]
    farm_order: dict = global_config_materiales["fincas"]

    # Descarga el archivo CSV desde S3
    
    map_with_dfs = {}
    current_date = datetime.now().strftime("%Y-%m-%d")
    partition = body.get("partition", current_date)

    volum_file = object_to_dataframe(
        s3_client=s3_client,
        bucket_name=bucket_input_files,
        folder_name=f"{PROCESS_TYPE}/{modulo_revenue}",
        partition=partition,
        file_name=file_revenue,
    )

    try:
        for key, file in input_files_names.items():
            df = object_to_dataframe(
                s3_client=s3_client,
                bucket_name=bucket_input_files,
                folder_name=f"{PROCESS_TYPE}/{modulo}",
                partition=partition,
                file_name=file,
            )
            logger.info(f"file_key: {file} read successfully")
            map_with_dfs[key] = df
        volum_distribution = map_with_dfs["volum_distribution"]
    except Exception as e:
        logger.error(
            f"Error reding file {file} from {bucket_input_files}: error detail:{e}"
        )
        return Response(
            status_code=500,
            body=json.dumps(
                {
                    "message": f"Error reding file {file} from {bucket_input_files}: error detail:{e}"
                }
            ),
        )

### Importar los archivos

In [5]:
modulo: str = "modulo_mano_de_obra"
PROCESS_TYPE = "er_simulado"
dynamo_global_materiales = "nombre_finca"
modulo_global: str = "archivos_comunes_global"

   
session = boto3.Session(profile_name=AWS_PROFILE)

s3_client = session.client("s3", region_name=REGION)
ssm_client = session.client("ssm", region_name=REGION)
dynamodb_client = session.resource("dynamodb", region_name=REGION)

bucket_input_files = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_BUCKET_INPUT_FILES_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )
dynamodb_table_name_module_config = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_DYNAMODB_MODULE_CONFIG_NAME,
        logger=logger,
        ssm_client=ssm_client,
        with_decryption=True,
    )

dynamodb_table_name_global_module_config = get_ssm_parameter(
        parameter_name=SSM_PARAMETER_DYNAMODB_GLOBAL_MODULE_CONFIG_NAME,
        ssm_client=ssm_client,
        logger=logger,
        with_decryption=True
    ) 
    
    
logger.info(f"{dynamodb_table_name_module_config}")

module_config = get_item_from_dynamodb(
        table_name=dynamodb_table_name_module_config,
        key={"module": modulo, "process_type": PROCESS_TYPE},
        logger=logger,
        dynamodb_client=dynamodb_client,
    )

module_global_config = get_item_from_dynamodb(
        table_name=dynamodb_table_name_module_config,
        key={"module": modulo_global, "process_type": PROCESS_TYPE},
        logger=logger,
        dynamodb_client=dynamodb_client,)


global_config_materiales = get_item_from_dynamodb_global(
        table_name=dynamodb_table_name_global_module_config,
        partition_key_value=dynamo_global_materiales,
        logger=logger,
        dynamodb_client=dynamodb_client,
   )
 

input_files_names: dict = module_config["input_file_names_mo"]
input_global_file_names: dict = module_global_config["input_file_names_global"]
farm_order: dict = global_config_materiales["fincas"]

    # Descarga el archivo CSV desde S3
map_with_dfs = {}
current_date = datetime.now().strftime("%Y-%m-%d")
partition = "2025-02-19"

#extraer los archivos del modulo global
try:
    for key, file in input_global_file_names.items():
        df = object_to_dataframe(
            s3_client=s3_client,
            bucket_name=bucket_input_files,
            folder_name=f"{PROCESS_TYPE}/{modulo_global}",
            partition=partition,
            file_name=file,
        )

        logger.info(f"file_key: {file} read successfully")
        map_with_dfs[key] = df
    volum_distribution = map_with_dfs["volum_distribution"]
    volum_file = map_with_dfs["volum_file"]
    sku = map_with_dfs["sku"]
    
except Exception as e:
    logger.error(
            f"Error reding file {file} from {bucket_input_files}: error detail:{e}"
    )
     

#extraer los archivos del modulo particular
try:
    for key, file in input_files_names.items():
        df = object_to_dataframe(
            s3_client=s3_client,
            bucket_name=bucket_input_files,
            folder_name=f"{PROCESS_TYPE}/{modulo}",
            partition=partition,
            file_name=file,
        )

        logger.info(f"file_key: {file} read successfully")
        map_with_dfs[key] = df
    cut_emp = map_with_dfs["cut_emp"]
    promediado = map_with_dfs["promediado"]
    revenue_sku = map_with_dfs["revenue_sku"]
    
except Exception as e:
    logger.error(
            f"Error reding file {file} from {bucket_input_files}: error detail:{e}"
    )

2025-05-28 18:51:41,817 - INFO - Found credentials in shared credentials file: ~/.aws/credentials
2025-05-28 18:51:42,767 - INFO - Parameter dev-bucket-upload-files-name retrieved successfully.
2025-05-28 18:51:42,851 - INFO - Parameter dev-dynamodb-table-name-module-config retrieved successfully.
2025-05-28 18:51:42,968 - INFO - Parameter dev-dynamodb-table-name-global-config retrieved successfully.
2025-05-28 18:51:42,968 - INFO - dev-module-config
2025-05-28 18:51:43,882 - INFO - file_key: sku.csv read successfully
2025-05-28 18:51:44,184 - INFO - file_key: volumen.csv read successfully
2025-05-28 18:51:44,283 - INFO - file_key: distribucion_volumen.csv read successfully
2025-05-28 18:51:44,450 - INFO - file_key: corte_y_empaque.csv read successfully
2025-05-28 18:51:44,651 - INFO - file_key: input_mo.csv read successfully
2025-05-28 18:51:44,751 - INFO - file_key: curvas_g.csv read successfully

In [6]:
cut_emp.head(1)

,ID,FINCA,GRUPO,LABOR,MAESTRA,TARIFA,REF,PROMEDIADO,PRESTACIONES,FACTOR
0,100001,ENANO,COSECHA,CAJA INTEGRAL CAMPO,REG SUR,820.0,CAJA,G04,0.3887,1.0

In [7]:
volum_distribution.head(1)

,SEMANA,6/01/2024,13/01/2024,20/01/2024,27/01/2024,3/02/2024,10/02/2024,17/02/2024,24/02/2024,2/03/2024,...,26/10/2024,2/11/2024,9/11/2024,16/11/2024,23/11/2024,30/11/2024,7/12/2024,14/12/2024,21/12/2024,28/12/2024
0,ENERO,1,1,1,1,0.6,0,0,0,0.0,...,0,0.0,0,0,0,0,0,0,0,0

In [8]:
volum_file.head(1)

,Unnamed: 0,CONCEPTO,FINCA,6/01/2024,13/01/2024,20/01/2024,27/01/2024,3/02/2024,10/02/2024,17/02/2024,...,26/10/2024,2/11/2024,9/11/2024,16/11/2024,23/11/2024,30/11/2024,7/12/2024,14/12/2024,21/12/2024,28/12/2024
0,0,CAJAS,ENANO,7969.0,8319.0,7813.0,7359.0,7989.0,5479.0,6037.0,...,9164.0,9406.0,10244.0,9851.0,9751.0,9302.0,10343.0,10606.0,10349.0,9936.0

In [9]:
promediado.head(1)

,DETALLE,PROMEDIADO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,LABORES ORDINARIAS,G01,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581,0.224581

In [10]:
revenue_sku.head(5)

,SKU,Farm,6/01/2024 0:00,13/01/2024 0:00,20/01/2024 0:00,27/01/2024 0:00,3/02/2024 0:00,10/02/2024 0:00,17/02/2024 0:00,24/02/2024 0:00,...,26/10/2024 0:00,2/11/2024 0:00,9/11/2024 0:00,16/11/2024 0:00,23/11/2024 0:00,30/11/2024 0:00,7/12/2024 0:00,14/12/2024 0:00,21/12/2024 0:00,28/12/2024 0:00
0,210801B,ENANO,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,210804S,ENANO,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,210802S,ENANO,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,102200B,ENANO,326.941593,341.30093,320.541431,301.91532,327.762126,224.785166,247.678052,283.822555,...,331.220196,385.896928,420.277284,404.1538,400.051132,381.630154,424.338925,435.128941,424.585085,407.641068
4,102201S,ENANO,326.941593,341.30093,320.541431,301.91532,327.762126,224.785166,247.678052,283.822555,...,331.220196,385.896928,420.277284,404.1538,400.051132,381.630154,424.338925,435.128941,424.585085,407.641068

In [11]:
sku.head(4)

       SKU  RESUMEN CORPORATIVO TIPO DESTINO  EMP. ESPECIALES
0  210801B    Fruta premium Reg  PRE      EU              NaN
1  210804S    Fruta premium Reg  PRE      EU              NaN
2  210802S      Fruta Small Reg  ESP      EU  Emp. Especiales
3  102200B  Fruta Comercial Reg  PRE      EU              NaN

## Corte y empaque

### labor 100001

In [12]:
volum_file.columns = list(volum_file.columns[:3]) + [pd.to_datetime(col, dayfirst=True, errors='coerce') for col in volum_file.columns[3:]]
volum_file.head(3)

,Unnamed: 0,CONCEPTO,FINCA,2024-01-06 00:00:00,2024-01-13 00:00:00,2024-01-20 00:00:00,2024-01-27 00:00:00,2024-02-03 00:00:00,2024-02-10 00:00:00,2024-02-17 00:00:00,...,2024-10-26 00:00:00,2024-11-02 00:00:00,2024-11-09 00:00:00,2024-11-16 00:00:00,2024-11-23 00:00:00,2024-11-30 00:00:00,2024-12-07 00:00:00,2024-12-14 00:00:00,2024-12-21 00:00:00,2024-12-28 00:00:00
0,0,CAJAS,ENANO,7969.0,8319.0,7813.0,7359.0,7989.0,5479.0,6037.0,...,9164.0,9406.0,10244.0,9851.0,9751.0,9302.0,10343.0,10606.0,10349.0,9936.0
1,1,CAJAS,EVA,4098.0,6617.0,7238.0,7600.0,6414.0,4585.0,4992.0,...,7407.0,7045.0,7287.0,6578.0,6586.0,6073.0,6218.0,6091.0,5903.0,5791.0
2,2,CAJAS,SAMI,4560.0,8771.0,9549.0,9418.0,8004.0,6011.0,5031.0,...,8233.0,8250.0,8530.0,7911.0,7875.0,7546.0,8216.0,7893.0,7937.0,7645.0

In [13]:
volum_distribution.columns = list(volum_distribution.columns[:1]) + [pd.to_datetime(col, dayfirst=True, errors='coerce') for col in volum_distribution.columns[1:]]
volum_distribution.head(2)

,SEMANA,2024-01-06 00:00:00,2024-01-13 00:00:00,2024-01-20 00:00:00,2024-01-27 00:00:00,2024-02-03 00:00:00,2024-02-10 00:00:00,2024-02-17 00:00:00,2024-02-24 00:00:00,2024-03-02 00:00:00,...,2024-10-26 00:00:00,2024-11-02 00:00:00,2024-11-09 00:00:00,2024-11-16 00:00:00,2024-11-23 00:00:00,2024-11-30 00:00:00,2024-12-07 00:00:00,2024-12-14 00:00:00,2024-12-21 00:00:00,2024-12-28 00:00:00
0,ENERO,1,1,1,1,0.6,0,0,0,0.0,...,0,0.0,0,0,0,0,0,0,0,0
1,FEBRERO,0,0,0,0,0.4,1,1,1,0.8,...,0,0.0,0,0,0,0,0,0,0,0

In [14]:
volum_file_subset = volum_file.iloc[:,3:]
volum_file_subset.head()

,2024-01-06,2024-01-13,2024-01-20,2024-01-27,2024-02-03,2024-02-10,2024-02-17,2024-02-24,2024-03-02,2024-03-09,...,2024-10-26,2024-11-02,2024-11-09,2024-11-16,2024-11-23,2024-11-30,2024-12-07,2024-12-14,2024-12-21,2024-12-28
0,7969.0,8319.0,7813.0,7359.0,7989.0,5479.0,6037.0,6918.0,8895.0,8528.0,...,9164.0,9406.0,10244.0,9851.0,9751.0,9302.0,10343.0,10606.0,10349.0,9936.0
1,4098.0,6617.0,7238.0,7600.0,6414.0,4585.0,4992.0,5411.0,6998.0,5030.0,...,7407.0,7045.0,7287.0,6578.0,6586.0,6073.0,6218.0,6091.0,5903.0,5791.0
2,4560.0,8771.0,9549.0,9418.0,8004.0,6011.0,5031.0,6875.0,8082.0,9268.0,...,8233.0,8250.0,8530.0,7911.0,7875.0,7546.0,8216.0,7893.0,7937.0,7645.0
3,3625.0,3448.0,4037.0,2996.0,3455.0,2949.0,3097.0,3034.0,3528.0,4040.0,...,4869.0,4584.0,4547.0,3897.0,3637.0,3361.0,3460.0,3426.0,3303.0,3147.0
4,5265.0,5243.0,3467.0,3098.0,3646.0,4033.0,4654.0,4113.0,5740.0,5822.0,...,10303.0,9370.0,9802.0,8779.0,8725.0,8484.0,9021.0,8505.0,7837.0,7814.0

In [15]:
group_data = group_by_month(volum_file_subset, volum_file)
month_colums = group_data.iloc[:, 2:].columns

2025-05-28 18:51:45,084 - INFO - Inicia la funci√≥n agrupando por mes.
2025-05-28 18:51:45,084 - INFO - agrupando las columnas por mes y sumandolas.
c:\Users\Nata_\Documents\Etapa_1_proyecto\Simulador_mano_de_obra\mano_de_obra_agrovid\functions_mo.py:138: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped_df = df.groupby(df.columns.to_period('M'), axis=1).sum()
2025-05-28 18:51:45,101 - INFO - Se realiz√≥ la agrupaci√≥n con √©xito.

In [16]:
volum_distribution_matrix = volum_distribution.iloc[:, 1:]
volum_file_matrix = volum_file[volum_file['CONCEPTO'] == 'CAJAS'].iloc[:, 3:]
volum_file_subset = volum_file[volum_file['CONCEPTO'] == 'CAJAS']

In [17]:
full_matrix = volum_file_subset.merge(cut_emp, on=['FINCA'], how='inner')
full_matrix_100001 = full_matrix[full_matrix['ID'] == 100001]
factor_100001 = full_matrix_100001.FACTOR.reset_index(drop=True)

In [18]:
quantity_100001 = calculate_volume_distribution_factor(volum_file_matrix, volum_distribution_matrix, volum_file_subset, month_colums, factor_100001)
quantity_100001.head(6)

2025-05-28 18:51:45,181 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen.
2025-05-28 18:51:45,181 - INFO - Procesando el mes: 0
2025-05-28 18:51:45,197 - INFO - Procesando el mes: 1
2025-05-28 18:51:45,212 - INFO - Procesando el mes: 2
2025-05-28 18:51:45,217 - INFO - Procesando el mes: 3
2025-05-28 18:51:45,233 - INFO - Procesando el mes: 4
2025-05-28 18:51:45,248 - INFO - Procesando el mes: 5
2025-05-28 18:51:45,248 - INFO - Procesando el mes: 6
2025-05-28 18:51:45,264 - INFO - Procesando el mes: 7
2025-05-28 18:51:45,279 - INFO - Procesando el mes: 8
2025-05-28 18:51:45,279 - INFO - Procesando el mes: 9
2025-05-28 18:51:45,295 - INFO - Procesando el mes: 10
2025-05-28 18:51:45,311 - INFO - Procesando el mes: 11
2025-05-28 18:51:45,311 - INFO - Matriz de resultados generada.
2025-05-28 18:51:45,311 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:45,311 - INFO - Factores de ajuste aplicados al DataFrame transpuesto.
2025-05-28 18:51:45,327 - INFO - DataFrame final concatenado con los datos de volumen transformados.

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CAJAS,36253.4,28745.6,35116.0,34368.6,35978.4,37744.0,44853.2,41569.8,35998.4,40047.4,41029.2,41234.0
1,EVA,CAJAS,29401.4,23152.0,27527.6,29610.8,24468.2,22901.0,29528.6,31522.4,32153.6,33810.4,27933.0,24003.0
2,SAMI,CAJAS,37100.4,27584.2,38828.4,33531.4,29984.6,30364.0,49405.8,46196.2,42365.4,40141.6,33512.0,31691.0
3,VEGA,CAJAS,16179.0,13284.4,18257.6,17892.6,15608.4,13915.0,17035.0,18262.0,19695.8,21760.4,16358.8,13336.0
4,FEDERICA,CAJAS,19260.6,18850.4,23099.0,23482.4,32951.6,31992.0,40472.4,40286.6,40250.4,45201.6,37664.0,33177.0
5,NEERLANDIA,CAJAS,21160.8,15766.4,22825.8,29697.8,25612.2,22451.0,28206.4,30207.6,29904.2,34381.4,30621.4,29271.0

In [19]:
labor_100001 = multiply_price(quantity_100001, full_matrix_100001, 'FINCA', 'TARIFA', 'PROMEDIADO', month_colums)

2025-05-28 18:51:45,350 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:45,353 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:45,355 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:45,355 - INFO - Proceso completado exitosamente.

In [20]:
promediado_100001 = multiply_by_month_promediado(labor_100001, promediado, month_colums)
promediado_100001.head(5)

2025-05-28 18:51:45,373 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:45,380 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:45,384 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:45,385 - INFO - Proceso completado exitosamente

,FINCA,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,7.466254e+06,3.744228e+06,9.668523e+06,4.476646e+06,7.409619e+06,8.963626e+06,9.237351e+06,8.561147e+06,5.824269e+06,6.731973e+06,8.449812e+06,8.231899e+06
1,EVA,6.055110e+06,3.015639e+06,7.579201e+06,3.856923e+06,5.039135e+06,5.438639e+06,6.081306e+06,6.491922e+06,5.202209e+06,5.683533e+06,5.752698e+06,4.791926e+06
2,SAMI,7.640690e+06,3.592951e+06,1.069066e+07,4.367597e+06,6.175218e+06,7.210988e+06,1.017494e+07,9.513937e+06,6.854401e+06,6.747808e+06,6.901673e+06,6.326747e+06
3,VEGA,3.332005e+06,1.730345e+06,5.026883e+06,2.330582e+06,3.214492e+06,3.304601e+06,3.508295e+06,3.760992e+06,3.186631e+06,3.657926e+06,3.369034e+06,2.662381e+06
4,FEDERICA,3.966649e+06,2.455339e+06,6.359870e+06,3.058675e+06,6.786260e+06,7.597614e+06,8.335141e+06,8.296877e+06,6.512210e+06,7.598395e+06,7.756762e+06,6.623410e+06

In [21]:
social_p_100001 = multiply_p_social(labor_100001, promediado_100001,full_matrix_100001, 'FINCA', 'PRESTACIONES', 'LABOR',month_colums)
social_p_100001.head(4)

2025-05-28 18:51:45,417 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:45,433 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:45,433 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:45,433 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:45,433 - INFO - Proceso completado exitosamente.

,FINCA,LABOR,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CAJA INTEGRAL CAMPO,1.445732e+07,1.061758e+07,1.495082e+07,1.269451e+07,1.434766e+07,1.551446e+07,1.788680e+07,1.657743e+07,1.373781e+07,1.538119e+07,1.636184e+07,1.634242e+07
1,EVA,CAJA INTEGRAL CAMPO,1.172485e+07,8.551509e+06,1.172002e+07,1.093715e+07,9.757559e+06,9.413326e+06,1.177557e+07,1.257067e+07,1.227054e+07,1.298571e+07,1.113927e+07,9.513194e+06
2,SAMI,CAJA INTEGRAL CAMPO,1.479510e+07,1.018860e+07,1.653139e+07,1.238528e+07,1.195742e+07,1.248095e+07,1.970231e+07,1.842237e+07,1.616760e+07,1.541737e+07,1.336409e+07,1.256021e+07
3,VEGA,CAJA INTEGRAL CAMPO,6.451948e+06,4.906775e+06,7.773267e+06,6.608877e+06,6.224401e+06,5.719682e+06,6.793308e+06,7.282618e+06,7.516365e+06,8.357615e+06,6.523649e+06,5.285504e+06

In [22]:
cost_100001 = total_cost(labor_100001, promediado_100001, social_p_100001, 'FINCA', 'LABOR', month_colums)
cost_100001.head(3)

2025-05-28 18:51:45,467 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:45,484 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:45,484 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:45,484 - INFO - Proceso completado exitosamente.

,FINCA,LABOR,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CAJA INTEGRAL CAMPO,5.165137e+07,3.793320e+07,5.341446e+07,4.535341e+07,5.125956e+07,5.542816e+07,6.390377e+07,5.922581e+07,4.908076e+07,5.495203e+07,5.845560e+07,5.838620e+07
1,EVA,CAJA INTEGRAL CAMPO,4.188910e+07,3.055179e+07,4.187185e+07,3.907493e+07,3.486062e+07,3.363079e+07,4.207033e+07,4.491096e+07,4.383871e+07,4.639377e+07,3.979703e+07,3.398758e+07
2,SAMI,CAJA INTEGRAL CAMPO,5.285811e+07,3.640060e+07,5.906134e+07,4.424863e+07,4.272001e+07,4.459042e+07,7.039001e+07,6.581719e+07,5.776163e+07,5.508129e+07,4.774561e+07,4.487357e+07

### labor 100002 -5

In [23]:

volum_distribution_matrix = volum_distribution.iloc[:, 1:]

volum_file_matrix_10002 = volum_file[volum_file['CONCEPTO'] == 'CORTADOS'].iloc[:, 3:]
volum_file_subset_10002 = volum_file[volum_file['CONCEPTO'] == 'CORTADOS']

full_matrix_100002 = volum_file_subset_10002.merge(cut_emp, on=['FINCA'], how='inner')
full_matrix_100002 = full_matrix[full_matrix['ID'] == 100002]
full_matrix_100003 = full_matrix[full_matrix['ID'] == 100003]
full_matrix_100004 = full_matrix[full_matrix['ID'] == 100004]
full_matrix_100005 = full_matrix[full_matrix['ID'] == 100005]

factor_100002 = full_matrix_100002.FACTOR.reset_index(drop=True)
factor_100003 = full_matrix_100003.FACTOR.reset_index(drop=True)
factor_100004 = full_matrix_100004.FACTOR.reset_index(drop=True)
factor_100005 = full_matrix_100005.FACTOR.reset_index(drop=True)

In [24]:
quantity_100002 = calculate_volume_distribution_factor(volum_file_matrix_10002, volum_distribution_matrix, volum_file_subset_10002, month_colums, factor_100002)
quantity_100002.head(2)

2025-05-28 18:51:45,534 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen.
2025-05-28 18:51:45,534 - INFO - Procesando el mes: 0
2025-05-28 18:51:45,549 - INFO - Procesando el mes: 1
2025-05-28 18:51:45,568 - INFO - Procesando el mes: 2
2025-05-28 18:51:45,568 - INFO - Procesando el mes: 3
2025-05-28 18:51:45,583 - INFO - Procesando el mes: 4
2025-05-28 18:51:45,583 - INFO - Procesando el mes: 5
2025-05-28 18:51:45,599 - INFO - Procesando el mes: 6
2025-05-28 18:51:45,599 - INFO - Procesando el mes: 7
2025-05-28 18:51:45,615 - INFO - Procesando el mes: 8
2025-05-28 18:51:45,630 - INFO - Procesando el mes: 9
2025-05-28 18:51:45,630 - INFO - Procesando el mes: 10
2025-05-28 18:51:45,646 - INFO - Procesando el mes: 11
2025-05-28 18:51:45,646 - INFO - Matriz de resultados generada.
2025-05-28 18:51:45,646 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:45,646 - INFO - Factores de ajuste aplicados al DataFrame transpuesto.
2025-05-28 18:51:45,661 - INFO - DataFrame final concatenado con los datos de volumen transformados.

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CORTADOS,41185.4,33787.8,39105.8,38597.6,39453.4,38541.0,44002.8,40826.2,35702.4,41082.0,42300.6,43150.0
1,EVA,CORTADOS,31503.0,26885.8,30498.2,33845.6,27203.4,24359.0,29673.6,31259.4,32634.0,34996.0,29580.0,25384.0

In [25]:
quantity_100003 = calculate_volume_distribution_factor(volum_file_matrix_10002, 
                                                       volum_distribution_matrix, 
                                                       volum_file_subset_10002, month_colums, 
                                                       factor_100003)
quantity_100003.head(2)

2025-05-28 18:51:45,681 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen.
2025-05-28 18:51:45,682 - INFO - Procesando el mes: 0
2025-05-28 18:51:45,692 - INFO - Procesando el mes: 1
2025-05-28 18:51:45,701 - INFO - Procesando el mes: 2
2025-05-28 18:51:45,701 - INFO - Procesando el mes: 3
2025-05-28 18:51:45,716 - INFO - Procesando el mes: 4
2025-05-28 18:51:45,716 - INFO - Procesando el mes: 5
2025-05-28 18:51:45,732 - INFO - Procesando el mes: 6
2025-05-28 18:51:45,748 - INFO - Procesando el mes: 7
2025-05-28 18:51:45,748 - INFO - Procesando el mes: 8
2025-05-28 18:51:45,763 - INFO - Procesando el mes: 9
2025-05-28 18:51:45,763 - INFO - Procesando el mes: 10
2025-05-28 18:51:45,779 - INFO - Procesando el mes: 11
2025-05-28 18:51:45,795 - INFO - Matriz de resultados generada.
2025-05-28 18:51:45,795 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:45,795 - INFO - Factores de ajuste aplicados al DataFrame transpuesto.
2025-05-28 18:51:45,795 - INFO - DataFrame final concatenado con los datos de volumen transformados.

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CORTADOS,41185.4,33787.8,39105.8,38597.6,39453.4,38541.0,44002.8,40826.2,35702.4,41082.0,42300.6,43150.0
1,EVA,CORTADOS,31503.0,26885.8,30498.2,33845.6,27203.4,24359.0,29673.6,31259.4,32634.0,34996.0,29580.0,25384.0

In [26]:
quantity_100004 = calculate_volume_distribution_factor(volum_file_matrix_10002, 
                                                       volum_distribution_matrix, 
                                                       volum_file_subset_10002, month_colums, 
                                                       factor_100004)
quantity_100004.head(2)

2025-05-28 18:51:45,819 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen.
2025-05-28 18:51:45,821 - INFO - Procesando el mes: 0
2025-05-28 18:51:45,821 - INFO - Procesando el mes: 1
2025-05-28 18:51:45,834 - INFO - Procesando el mes: 2
2025-05-28 18:51:45,851 - INFO - Procesando el mes: 3
2025-05-28 18:51:45,866 - INFO - Procesando el mes: 4
2025-05-28 18:51:45,866 - INFO - Procesando el mes: 5
2025-05-28 18:51:45,882 - INFO - Procesando el mes: 6
2025-05-28 18:51:45,882 - INFO - Procesando el mes: 7
2025-05-28 18:51:45,898 - INFO - Procesando el mes: 8
2025-05-28 18:51:45,913 - INFO - Procesando el mes: 9
2025-05-28 18:51:45,929 - INFO - Procesando el mes: 10
2025-05-28 18:51:45,929 - INFO - Procesando el mes: 11
2025-05-28 18:51:45,945 - INFO - Matriz de resultados generada.
2025-05-28 18:51:45,945 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:45,945 - INFO - Factores de ajuste aplicados al DataFrame transpuesto.
2025-05-28 18:51:45,960 - INFO - DataFrame final concatenado con los datos de volumen transformados.

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CORTADOS,41185.4,33787.8,39105.8,38597.6,39453.4,38541.0,44002.8,40826.2,35702.4,41082.0,42300.6,43150.0
1,EVA,CORTADOS,31503.0,26885.8,30498.2,33845.6,27203.4,24359.0,29673.6,31259.4,32634.0,34996.0,29580.0,25384.0

In [27]:
quantity_100005 = calculate_volume_distribution_factor(volum_file_matrix_10002, 
                                                       volum_distribution_matrix, 
                                                       volum_file_subset_10002, month_colums, 
                                                       factor_100005)
quantity_100005.head(4)

2025-05-28 18:51:45,984 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen.
2025-05-28 18:51:45,985 - INFO - Procesando el mes: 0
2025-05-28 18:51:45,985 - INFO - Procesando el mes: 1
2025-05-28 18:51:46,001 - INFO - Procesando el mes: 2
2025-05-28 18:51:46,017 - INFO - Procesando el mes: 3
2025-05-28 18:51:46,017 - INFO - Procesando el mes: 4
2025-05-28 18:51:46,032 - INFO - Procesando el mes: 5
2025-05-28 18:51:46,048 - INFO - Procesando el mes: 6
2025-05-28 18:51:46,048 - INFO - Procesando el mes: 7
2025-05-28 18:51:46,064 - INFO - Procesando el mes: 8
2025-05-28 18:51:46,079 - INFO - Procesando el mes: 9
2025-05-28 18:51:46,095 - INFO - Procesando el mes: 10
2025-05-28 18:51:46,095 - INFO - Procesando el mes: 11
2025-05-28 18:51:46,110 - INFO - Matriz de resultados generada.
2025-05-28 18:51:46,110 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:46,110 - INFO - Factores de ajuste aplicados al DataFrame transpuesto.
2025-05-28 18:51:46,110 - INFO - DataFrame final concatenado con los datos de volumen transformados.

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,CORTADOS,20592.7,16893.9,19552.9,19298.8,19726.7,19270.5,22001.4,20413.1,17851.2,20541.0,21150.3,21575.0
1,EVA,CORTADOS,31503.0,26885.8,30498.2,33845.6,27203.4,24359.0,29673.6,31259.4,32634.0,34996.0,29580.0,25384.0
2,SAMI,CORTADOS,42046.0,33821.2,44644.8,39311.6,34298.4,31791.0,47941.8,44405.2,41661.6,41274.2,35514.2,33966.0
3,VEGA,CORTADOS,15553.6,13139.8,16996.6,16655.0,14302.0,12362.0,14297.8,15249.2,16955.6,19318.0,14801.4,12399.0

In [28]:
labor_100002 = multiply_price(quantity_100002, full_matrix_100002, 'FINCA', 'TARIFA', 'PROMEDIADO', month_colums)
labor_100003 = multiply_price(quantity_100003, full_matrix_100003, 'FINCA', 'TARIFA', 'PROMEDIADO', month_colums)
labor_100004 = multiply_price(quantity_100004, full_matrix_100004, 'FINCA', 'TARIFA', 'PROMEDIADO', month_colums)
labor_100005 = multiply_price(quantity_100005, full_matrix_100005, 'FINCA', 'TARIFA', 'PROMEDIADO', month_colums)

2025-05-28 18:51:46,134 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,134 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,151 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,151 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,151 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,151 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,151 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,151 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,151 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,151 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,169 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,169 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,169 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,169 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,169 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,169 - INFO - Proceso completado exitosamente.

In [29]:
promediado_100002 = multiply_by_month_promediado(labor_100002, promediado, month_colums)
promediado_100003 = multiply_by_month_promediado(labor_100003, promediado, month_colums)
promediado_100004 = multiply_by_month_promediado(labor_100004, promediado, month_colums)
promediado_100005 = multiply_by_month_promediado(labor_100005, promediado, month_colums)

2025-05-28 18:51:46,184 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,184 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,199 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,199 - INFO - Proceso completado exitosamente
2025-05-28 18:51:46,199 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,199 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,217 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,218 - INFO - Proceso completado exitosamente
2025-05-28 18:51:46,218 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,218 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,218 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,234 - INFO - Proceso completado exitosamente
2025-05-28 18:51:46,234 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,234 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,234 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,249 - INFO - Proceso completado exitosamente

In [30]:
social_p_100002 = multiply_p_social(labor_100002, 
                                    promediado_100002,full_matrix_100002, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)

social_p_100003 = multiply_p_social(labor_100003, 
                                    promediado_100003,full_matrix_100003, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)
social_p_100004 = multiply_p_social(labor_100004, 
                                    promediado_100004,full_matrix_100004, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)
social_p_100005 = multiply_p_social(labor_100005, 
                                    promediado_100005,full_matrix_100005, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)

2025-05-28 18:51:46,265 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,280 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,312 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,318 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,318 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,318 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,334 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,334 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,334 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,349 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,349 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,349 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,349 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,349 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,365 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,365 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,365 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,365 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,365 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,365 - INFO - Proceso completado exitosamente.

In [31]:
cost_100002 = total_cost(labor_100002, promediado_100002, social_p_100002, 'FINCA', 'LABOR', month_colums)
cost_100003 = total_cost(labor_100003, promediado_100003, social_p_100003, 'FINCA', 'LABOR', month_colums)
cost_100004 = total_cost(labor_100004, promediado_100004, social_p_100004, 'FINCA', 'LABOR', month_colums)
cost_100005 = total_cost(labor_100005, promediado_100005, social_p_100005, 'FINCA', 'LABOR', month_colums)

2025-05-28 18:51:46,400 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,400 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,400 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,415 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,415 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,415 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,415 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,431 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,434 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,434 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,434 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,434 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,434 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,449 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,449 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,449 - INFO - Proceso completado exitosamente.

### labor promediados

In [32]:
full_matrix_promediados_100006 = full_matrix[full_matrix['ID'] == 100006]
full_matrix_promediados_1000023 = full_matrix[full_matrix['ID'] == 100023]
factor_promediados_100006 = full_matrix_promediados_100006.FACTOR.reset_index(drop=True)
factor_promediados_1000023 = full_matrix_promediados_1000023.FACTOR.reset_index(drop=True)
factor_concat = pd.concat([factor_promediados_100006, factor_promediados_1000023], ignore_index=True)

In [33]:
quantity_promediados = calculate_promediados_factor(volum_distribution_matrix, volum_file_subset, month_colums, factor_concat)

2025-05-28 18:51:46,512 - INFO - Iniciando el c√°lculo de la matriz de distribuci√≥n de volumen con 92 factores.
2025-05-28 18:51:46,512 - INFO - Procesando el mes: 0
2025-05-28 18:51:46,528 - INFO - Procesando el mes: 1
2025-05-28 18:51:46,551 - INFO - Procesando el mes: 2
2025-05-28 18:51:46,566 - INFO - Procesando el mes: 3
2025-05-28 18:51:46,581 - INFO - Procesando el mes: 4
2025-05-28 18:51:46,597 - INFO - Procesando el mes: 5
2025-05-28 18:51:46,613 - INFO - Procesando el mes: 6
2025-05-28 18:51:46,634 - INFO - Procesando el mes: 7
2025-05-28 18:51:46,645 - INFO - Procesando el mes: 8
2025-05-28 18:51:46,675 - INFO - Procesando el mes: 9
2025-05-28 18:51:46,698 - INFO - Procesando el mes: 10
2025-05-28 18:51:46,715 - INFO - Procesando el mes: 11
2025-05-28 18:51:46,726 - INFO - Matriz de resultados generada.
2025-05-28 18:51:46,726 - INFO - Matriz de resultados transpuesta y columnas renombradas.
2025-05-28 18:51:46,726 - INFO - DataFrame final concatenado con los datos de volumen transformados.

In [34]:
quantity_promediados_100023 = quantity_promediados.iloc[46:, :]
quantity_promediados_100006 = quantity_promediados.iloc[0:46, :]

In [35]:
quantity_promediados_100023.head(4)

,FINCA,CONCEPTO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
46,ENANO,CAJAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,EVA,CAJAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,SAMI,CAJAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,VEGA,CAJAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
labor_promediados_100023 = multiply_price(quantity_promediados_100023, 
                                          full_matrix_promediados_1000023, 
                                          'FINCA', 'TARIFA', 'PROMEDIADO', 
                                          month_colums)

labor_promediados_100023.head(2)

2025-05-28 18:51:46,785 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,800 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,800 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,800 - INFO - Proceso completado exitosamente.

,FINCA,PROMEDIADO,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,G04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,EVA,G04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
labor_promediados_100006 = multiply_price(quantity_promediados_100006, 
                                          full_matrix_promediados_100006, 
                                          'FINCA', 'TARIFA', 'PROMEDIADO', 
                                          month_colums)

2025-05-28 18:51:46,834 - INFO - Inicia la funci√≥n para multiplicar los DataFrames.
2025-05-28 18:51:46,834 - INFO - Realizando el merge sobre la columna FINCA
2025-05-28 18:51:46,834 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', 'CONCEPTO', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'TARIFA', 'PROMEDIADO']
2025-05-28 18:51:46,850 - INFO - Proceso completado exitosamente.

In [38]:
promediado_100023 = multiply_by_month_promediado(labor_promediados_100023, promediado, month_colums)
promediado_100006 = multiply_by_month_promediado(labor_promediados_100006, promediado, month_colums)

2025-05-28 18:51:46,867 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,882 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,882 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,882 - INFO - Proceso completado exitosamente
2025-05-28 18:51:46,882 - INFO - Inicia la funci√≥n para multiplicar ambos dataframes.
2025-05-28 18:51:46,898 - INFO - Se realiza el merge sobre la columna PROMEDIADO.
2025-05-28 18:51:46,901 - INFO - Columnas despu√©s del merge: ['FINCA', 'PROMEDIADO', '2024-01_df1', '2024-02_df1', '2024-03_df1', '2024-04_df1', '2024-05_df1', '2024-06_df1', '2024-07_df1', '2024-08_df1', '2024-09_df1', '2024-10_df1', '2024-11_df1', '2024-12_df1', 'DETALLE', '2024-01_df2', '2024-02_df2', '2024-03_df2', '2024-04_df2', '2024-05_df2', '2024-06_df2', '2024-07_df2', '2024-08_df2', '2024-09_df2', '2024-10_df2', '2024-11_df2', '2024-12_df2']
2025-05-28 18:51:46,901 - INFO - Proceso completado exitosamente

In [39]:
social_promediado_100023 = multiply_p_social(labor_promediados_100023, 
                                    promediado_100023 ,full_matrix_promediados_1000023, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)

social_promediado_1000006 = multiply_p_social(labor_promediados_100006,
                                    promediado_100006 ,full_matrix_promediados_100006, 
                                    'FINCA', 'PRESTACIONES', 
                                    'LABOR',month_colums)

2025-05-28 18:51:46,917 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,933 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,934 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,939 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,942 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,942 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,951 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,952 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,954 - INFO - Columnas posteriores a la multiplicaci√≥n: ['FINCA', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', 'PRESTACIONES', 'LABOR']
2025-05-28 18:51:46,954 - INFO - Proceso completado exitosamente.

In [40]:
cost_promediado_100023 = total_cost(labor_promediados_100023, promediado_100023, social_promediado_100023, 'FINCA', 'LABOR', month_colums)
cost_promediado_100006 = total_cost(labor_promediados_100006, promediado_100006, social_promediado_1000006, 'FINCA', 'LABOR', month_colums)

2025-05-28 18:51:46,968 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,984 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,984 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:46,984 - INFO - Proceso completado exitosamente.
2025-05-28 18:51:46,984 - INFO - Inicia la funci√≥n sumar los dataframes de labor y promediados.
2025-05-28 18:51:46,984 - INFO - Suma realizada con √©xito.
2025-05-28 18:51:46,984 - INFO - Realizando el merge sobre la columna FINCA y PRESTACIONES
2025-05-28 18:51:47,001 - INFO - Proceso completado exitosamente.

In [41]:
cost_promediado_100006.head(3)

,FINCA,LABOR,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,ENANO,ALIMENTADOR DE COSECHA CAMPO,3.896294e+06,3.295021e+06,3.798078e+06,3.451927e+06,3.896294e+06,3.492234e+06,3.896294e+06,3.726889e+06,3.404381e+06,3.752563e+06,3.557485e+06,3.367251e+06
1,EVA,ALIMENTADOR DE COSECHA CAMPO,2.805331e+06,2.372415e+06,2.734616e+06,2.485387e+06,2.805331e+06,2.514408e+06,2.805331e+06,2.683360e+06,2.451154e+06,2.701845e+06,2.561389e+06,2.424421e+06
2,SAMI,ALIMENTADOR DE COSECHA CAMPO,3.117035e+06,2.636017e+06,3.038462e+06,2.761541e+06,3.117035e+06,2.793787e+06,3.117035e+06,2.981512e+06,2.723505e+06,3.002050e+06,2.845988e+06,2.693801e+06

### cantidades modulo ingreso

In [42]:
revenue_sku_subset = revenue_sku[revenue_sku['SKU']!= 'Exc-']
revenue_sku_subset.loc[:, 'Farm'] = revenue_sku_subset['Farm'].astype(str).apply(unidecode)

In [43]:
input_mo_join = pd.merge(revenue_sku_subset, sku[['SKU', 'TIPO']] ,how = 'left', on = 'SKU')
input_mo_join.rename(columns={'Farm':'FINCA'}, inplace=True)

In [44]:
mo_grouped_total = group_by_type(input_mo_join, farms=farm_order)

2025-05-28 18:51:47,100 - INFO - Iniciando limpieza de columnas TIPO y FINCA...
2025-05-28 18:51:47,100 - INFO - Obteniendo valores √∫nicos de TIPO...
2025-05-28 18:51:47,117 - INFO - Creando combinaciones TIPO-FINCA completas...
2025-05-28 18:51:47,117 - INFO - Agrupando por TIPO y FINCA...
2025-05-28 18:51:47,117 - INFO - Uniendo con combinaciones completas...
2025-05-28 18:51:47,134 - INFO - Rellenando NaNs con ceros...
2025-05-28 18:51:47,136 - INFO - Proceso de agrupaci√≥n finalizado exitosamente.

In [45]:
cut_emp.loc[:, 'FINCA'] = cut_emp['FINCA'].astype(str).apply(unidecode)
cut_10008 = cut_emp[cut_emp['ID'] == 100008]
mo_pre_100008 = pd.merge(mo_grouped_total, cut_10008[['FACTOR', 'FINCA']], how='left', on = 'FINCA')
mo_pre_100008['FACTOR'] = mo_pre_100008['FACTOR'].fillna(0)

In [46]:

mo_pre_100008 = mo_pre_100008[mo_pre_100008['TIPO'] == 'PRE']
weekly_columns = mo_pre_100008.columns.difference(['TIPO', 'FINCA', 'FACTOR'])
mo_pre_100008.loc[:, weekly_columns] = mo_pre_100008[weekly_columns].multiply(mo_pre_100008['FACTOR'], axis=0)

In [47]:
mo_pre_100008.head(3)

,TIPO,FINCA,6/01/2024 0:00,13/01/2024 0:00,20/01/2024 0:00,27/01/2024 0:00,3/02/2024 0:00,10/02/2024 0:00,17/02/2024 0:00,24/02/2024 0:00,...,2/11/2024 0:00,9/11/2024 0:00,16/11/2024 0:00,23/11/2024 0:00,30/11/2024 0:00,7/12/2024 0:00,14/12/2024 0:00,21/12/2024 0:00,28/12/2024 0:00,FACTOR
0,PRE,ENANO,6074.659439,6341.459640,5955.742778,5609.664803,6089.905165,4176.566579,4601.922328,5273.496549,...,7170.064836,7808.860747,7509.282236,7433.053607,7090.787063,7884.327090,8084.808384,7888.900807,7574.076570,1.0
1,PRE,EVA,2953.207842,4768.515445,5216.036691,5476.910590,4622.224280,3304.162508,3597.465482,3899.416211,...,5076.951988,5251.348351,4740.410245,4746.175414,4376.483949,4480.977638,4389.455579,4253.974107,4173.261740,1.0
2,PRE,SAMI,3393.284819,6526.864287,7105.806302,7008.323777,5956.107827,4473.034002,3743.775422,5115.972177,...,6139.166613,6347.526207,5886.902676,5860.113585,5615.291062,6113.865805,5873.508130,5906.250352,5688.961062,1.0

In [48]:
mo_100009 = group_by_type_sum(input_mo_join, farms=farm_order, types_sum=['EDK', 'ESP'])

2025-05-28 18:51:47,252 - INFO - Iniciando limpieza de columnas TIPO y FINCA...
2025-05-28 18:51:47,255 - INFO - Obteniendo valores √∫nicos de TIPO...
2025-05-28 18:51:47,257 - INFO - Creando combinaciones TIPO-FINCA completas...
2025-05-28 18:51:47,258 - INFO - Agrupando por TIPO y FINCA...
2025-05-28 18:51:47,264 - INFO - Uniendo con combinaciones completas...
2025-05-28 18:51:47,272 - INFO - Rellenando NaNs con ceros...
2025-05-28 18:51:47,275 - INFO - Sumando tipos especificados: ['EDK', 'ESP']
c:\Users\Nata_\Documents\Etapa_1_proyecto\Simulador_mano_de_obra\mano_de_obra_agrovid\functions_mo.py:370: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  suma_tipos = subset_sum.groupby('FINCA').sum(numeric_only=True).reset_index()
2025-05-28 18:51:47,281 - INFO - Agregando fila de suma de tipos al DataFrame final...
2025-05-28 18:51:47,284 - INFO - Proceso de agrupaci√≥n y orden finalizado exitosamente.

In [50]:
mo_100009[mo_100009['TIPO'] == 'EDK+ESP']

,TIPO,FINCA,6/01/2024 0:00,13/01/2024 0:00,20/01/2024 0:00,27/01/2024 0:00,3/02/2024 0:00,10/02/2024 0:00,17/02/2024 0:00,24/02/2024 0:00,...,26/10/2024 0:00,2/11/2024 0:00,9/11/2024 0:00,16/11/2024 0:00,23/11/2024 0:00,30/11/2024 0:00,7/12/2024 0:00,14/12/2024 0:00,21/12/2024 0:00,28/12/2024 0:00
230,EDK+ESP,ENANO,529.245683,552.490254,518.885245,488.733716,530.573944,363.877161,400.935649,459.445556,...,536.171789,624.681251,680.335396,654.235064,647.593757,617.774293,686.910289,704.376924,687.308768,659.880174
231,EDK+ESP,EVA,367.218149,592.943508,648.590767,681.029267,574.752858,410.857788,447.328697,484.874916,...,548.217618,631.296208,652.981614,589.448752,590.165625,544.196150,557.189471,545.809114,528.962600,518.926379
232,EDK+ESP,SAMI,503.613895,968.683657,1054.607256,1040.139401,883.974916,663.864720,555.631910,759.286301,...,842.440026,911.143561,942.067221,873.703844,869.727944,833.392644,907.388545,871.715894,876.575326,844.326366
233,EDK+ESP,VEGA,401.975142,382.347666,447.661696,332.225524,383.123894,327.013709,343.425383,336.439333,...,413.274996,508.318359,504.215440,432.137139,403.305818,372.700263,383.678342,379.908093,366.268661,348.969868
234,EDK+ESP,FEDERICA,2013.059792,2004.648147,1325.598918,1184.512676,1394.039127,1542.007624,1779.445446,1572.595428,...,2298.501059,3582.596440,3747.770576,3356.629044,3335.982277,3243.836520,3449.157149,3251.865818,2996.457662,2987.663669
235,EDK+ESP,NEERLANDIA,460.448825,888.205783,911.074741,675.171460,521.535035,523.990762,604.415824,600.425267,...,831.857014,1119.197610,1173.684054,1111.830428,1111.523463,1078.985079,1170.460912,1179.823371,1093.872924,1048.441973
236,EDK+ESP,SAN ANTONIO,646.905587,771.863418,1175.764727,903.732634,679.665549,457.395424,849.132696,809.184894,...,865.017612,1051.498034,1098.357221,1018.046933,996.068731,904.976683,942.436387,944.233347,876.225324,870.696216
237,EDK+ESP,MRS,584.682275,941.872823,1032.402598,553.295161,607.768665,511.013346,545.772630,504.528405,...,592.777908,673.136870,717.234468,650.828673,638.377587,602.580713,624.888909,601.024327,574.306370,582.607094
238,EDK+ESP,DON FUAD,761.200560,942.111169,710.446337,656.082925,870.716895,826.617114,543.295762,559.988262,...,907.495507,1192.385883,1217.086271,1066.628196,1026.024818,962.976794,1022.866777,987.789970,936.359024,906.921574
239,EDK+ESP,EUFEMIA,794.230868,1070.012718,1180.308075,1058.626830,1020.818730,738.692072,847.509871,818.654033,...,1097.333514,1324.674181,1381.603621,1286.866080,1311.723820,1256.967260,1336.233899,1338.319863,1308.334128,1301.728575
240,EDK+ESP,OLGA,419.817096,390.600096,272.171962,300.396152,230.473913,273.590263,277.703336,313.019031,...,344.905418,427.759582,432.581805,389.323625,372.020352,336.562827,350.887667,345.639954,325.783740,333.442565
241,EDK+ESP,DON SAID,5888.017336,5571.154011,8123.645692,6713.852745,7611.355669,6020.734959,6195.258634,8007.185978,...,7269.840869,9158.511357,9317.440710,8220.861351,7694.967772,6834.625781,6974.974667,6896.007681,6505.154283,6593.743296
242,EDK+ESP,ASUNTINA,1986.063174,2817.885498,3415.539353,3724.851435,4224.935095,3593.495739,4267.166970,3961.932448,...,3115.039106,3824.460411,3518.643381,3188.360987,3081.761908,2965.260182,2732.547984,2694.684923,2698.179974,2684.199768
243,EDK+ESP,PORLAMAR,4607.733851,5388.061572,5453.680039,6314.574064,5060.475941,4314.097543,4623.695100,4696.914161,...,5350.289900,7053.098515,6546.138849,5947.211987,5613.799234,5358.672607,5158.016906,4998.151065,4890.982680,5011.325429
244,EDK+ESP,EL MORRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
245,EDK+ESP,LA PERLA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
246,EDK+ESP,ARACATACA,4136.848257,3711.248305,4539.036032,4324.145682,4267.705610,2825.348208,3929.483251,2836.218148,...,4461.501960,6383.163132,6233.074348,5950.037837,5758.141591,5608.888956,5493.500364,5310.383686,5141.899618,5084.205322
247,EDK+ESP,BOCATOMA,0.000000,29.817069,0.000000,283.262154,1197.341671,2264.233666,2555.571276,2409.591876,...,1899.113479,3838.015831,3681.476220,3444.182047,3222.107003,3110.914184,3017.425249,2981.706885,2907.474808,2752.798763
248,EDK+ESP,JOYA,346.371464,506.268799,436.743473,344.133992,377.041192,330.545448,286.450892,282.248812,...,447.830944,541.850049,538.193694,520.348497,503.267314,470.851267,458.572461,457.262722,437.070908,430.522212
249,EDK+ESP,ESMERALDA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
250,EDK+ESP,NARANJOS,143.256710,165.854367,142.323779,133.098130,142.168290,108.634610,108.945588,148.128682,...,183.989662,280.915835,284.077433,257.592564,251.839491,235.305883,246.449224,237.949187,216.802756,207.317959
251,EDK+ESP,YUNQUE,145.702244,144.216610,172.608739,171.783386,169.527423,116.979974,117.145045,114.999128,...,178.536727,206.338148,214.811768,195.498517,191.646872,172.608739,175.469961,169.362352,162.484414,167.766670
252,EDK+ESP,DONAMA,551.605830,485.670807,669.076272,537.964101,521.922438,518.890943,544.027091,426.430337,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
253,EDK+ESP,BURDEOS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
254,EDK+ESP,DON MARCE SUR 2,1376.002546,2764.316693,2096.593353,2105.283895,1998.824751,1412.937351,1412.937351,1793.872792,...,2462.262759,2446.387684,2334.134844,2289.957920,2091.523869,2300.096887,2343.549599,1864.121343,2215.364098,1937.990953
255,EDK+ESP,LAS MARGARITAS,1163.372566,2690.260156,2693.994899,3494.474899,2098.303328,2093.946128,2393.970514,2392.725598,...,4831.787767,3839.316206,3785.162426,3266.655552,3059.999751,2748.771136,2909.365102,2974.723111,2831.557947,2812.884230
256,EDK+ESP,LA CECILIA,1344.869000,1390.274545,1395.319606,1846.492163,1746.311676,1711.716975,1678.563720,1364.328519,...,2808.757021,2404.331717,2355.322558,1963.970002,1850.816502,1659.824923,1664.869984,1629.554560,1616.581547,1666.311430
257,EDK+ESP,JOSEFINA,2196.922163,2901.693602,2889.786165,2854.063854,2682.150230,2109.104814,2144.082911,2182.782082,...,3678.385270,3281.243164,3281.987378,2944.113848,2893.507240,2646.427917,2755.083282,2747.641134,2562.331642,2612.938251
258,EDK+ESP,SAN ALFREDO,1414.416457,1781.453365,1453.768867,1462.093416,1463.606970,1463.606970,1463.606970,1434.849439,...,1968.217847,1835.941318,1802.643125,1795.075353,1658.098693,1534.744020,1605.124294,1580.150648,1542.311792,1546.095677
259,EDK+ESP,VICTORIA,2196.526446,4396.176409,3689.220432,4272.623965,3373.398175,3410.880378,2779.235864,2758.065360,...,4497.048445,3573.303254,3688.526318,3307.110207,3264.422145,3035.364244,3157.875515,3103.040441,3003.087903,2993.717352
260,EDK+ESP,CIRCASIA,1933.051469,3200.703667,3202.421934,3220.463748,2704.553789,2092.850391,2341.140113,2541.318332,...,3507.584859,2762.115766,2774.573209,2407.722997,2302.479083,2152.560203,2104.448700,2009.943961,1960.543757,1923.600995
261,EDK+ESP,CIENAGA,1253.754761,2150.465211,2145.992840,2921.949265,1428.922638,1622.725395,1791.930111,2245.875800,...,1932.973956,1798.638667,1949.953897,1714.409007,1817.273548,1756.151140,1737.516259,1657.758971,1589.928005,1591.418796
262,EDK+ESP,MARIA,885.966283,883.836557,1458.862750,511.134394,582.835191,645.307172,627.559451,525.332572,...,2039.581132,1764.123569,1837.244184,1713.010129,1727.208307,1576.707624,1727.918215,1832.984730,1777.611837,1784.001017
263,EDK+ESP,REMANSO,2285.629949,4008.903217,3281.735685,3031.761071,2437.683472,2347.692612,2653.523621,1857.742369,...,9580.424758,5950.774972,5714.936855,5404.623541,4871.229435,5505.647764,4495.060740,3433.444416,4650.217397,4100.962831
264,EDK+ESP,PIEDECUESTA,2621.313235,4997.759635,5748.868019,8544.889614,5190.351528,8329.599389,6754.472833,5460.668006,...,8715.182085,6794.366870,6567.383565,5838.285683,5635.376367,5253.631722,5164.214056,5003.262260,4774.903300,4360.142902
265,EDK+ESP,NAUTICA,7089.096505,10236.171956,12771.239074,10300.477179,8301.471705,5937.700396,6633.416388,5699.327585,...,8618.271162,6881.767596,6987.649472,6398.924066,5926.058932,5606.750240,5627.261387,5643.892048,5443.215405,5291.322032
266,EDK+ESP,LAS LINAS,4560.309885,5490.976542,5886.001487,5059.607571,6768.209443,4653.765951,6023.156917,6809.745472,...,5707.742695,4908.174130,4851.062090,4331.429057,4397.194436,3633.104564,3919.097432,3777.182666,3788.864673,3942.894116
267,EDK+ESP,DON ALI,1517.195683,2879.219116,2294.644373,2308.534472,2692.298068,1923.580297,2049.781768,2131.138063,...,4090.963908,3449.110039,2870.885056,933.017800,2230.353058,2452.197783,2404.177726,2261.308135,2291.866353,2247.418036
268,EDK+ESP,DR4 DON ALI,0.000000,0.000000,11.138536,0.000000,111.385358,137.481356,222.770716,149.574623,...,642.343162,370.435876,315.061441,105.975212,237.091690,237.409934,212.905155,195.719986,176.307109,166.441549
269,EDK+ESP,DON CARLOS,1183.445143,1407.049194,2000.428092,804.974583,1407.049194,602.074611,382.611376,400.416884,...,993.795782,995.038026,1006.218229,1036.032102,1110.566786,1188.414122,1243.486972,1260.464317,1269.574111,1289.450027
270,EDK+ESP,EVA NORTE,3911.384616,6692.249320,7433.495791,6963.669335,10414.354188,6961.288457,7125.965804,8718.772727,...,6209.328038,5645.456928,5194.677489,4962.145137,5126.425672,5134.758742,5154.202574,5135.949181,5308.562787,5443.479168
271,EDK+ESP,DON PEDRO,2215.836046,2630.834721,3265.069624,3370.480174,4175.232143,3434.700887,1794.193848,2599.388718,...,4491.508268,3463.489483,3339.919973,3089.680643,3143.271720,2764.590965,2959.024709,3006.415167,2862.915092,2775.663502
272,EDK+ESP,LA VELA,1393.734112,1009.974355,2586.184962,1372.385888,2122.623506,1951.837707,1970.136186,2473.344344,...,2290.418820,2187.684763,2044.346682,1878.643793,1817.648864,1717.515524,1491.834289,1592.984212,1445.071511,1374.419052
273,EDK+ESP,ESPERANZA,2085.302298,2675.266349,2640.402361,3171.533431,3173.712431,3166.085933,2597.367125,2642.036610,...,2646.939359,2419.778686,2120.166286,2102.189542,2123.434785,2109.271290,2178.454516,2105.458041,2084.212798,2023.200818
274,EDK+ESP,LINA MARGARITA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
275,EDK+ESP,DON MARCE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000